<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="../public/style/main.css" href="/styles.css">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            crossorigin="anonymous"
    />
    <title>Sporting Goods</title>
</head>
<body class="body">
<a class="btn btn-outline-secondary" href="/" style="margin-left: 50px">
    На головну
</a>
<h1 class="text-center">Список товарів</h1>
<div class="table-responsive">
    <table class="table table-primary table-hover table-sm">
        <tr>
            <th>Код товару</th>
            <th>Назва</th>
            <th>Категорія</th>
            <th>Вартість</th>
            <th>Кількість</th>
            <th>Код постачальника</th>
            <th>Код складу</th>
        </tr>
        <% for (let i = 0; i < Product.length; i++) { %>
            <tr>
                <td><%= Product[i].idProduct %></td>
                <td><%= Product[i].Name %></td>
                <td><%= Product[i].Category %></td>
                <td><%= Product[i].Price %></td>
                <td><%= Product[i].Amount %></td>
                <td><%= Product[i].idSupplier %></td>
                <td><%= Product[i].idWarehouse %></td>
                <td style="background-color: white">
                    <a
                            class="btn btn-danger"
                            href="/api/Products/delete/<%= Product[i].idProduct %>"
                    >
                        Видалити
                    </a>
                    <a
                            class="btn btn-info"
                            href="/api/Products/<%= Product[i].idProduct %>"
                    >
                        Редагувати
                    </a>
                </td>
            </tr>
        <% } %>
    </table>
</div>

<h2 class="text-center">Додати товар</h2>
<form action="Products" method="POST" class="text-center">
    <div class="mb-3">
        <label>
            Назва товару
            <input type="text" class="form-control" placeholder="Назва" id="Name" name="Name">
        </label>
        <label>
            Категорія
            <select class="form-select" aria-label="Категорія" id="Category" name="Category">
                <option selected value="Sneakers" name="Sneakers">Sneakers</option>
                <option value="T-shirt" name="T-shirt">T-shirt</option>
                <option value="Pants" name="Pants">Pants</option>
            </select>
        </label>
        <label>
            Вартість
            <input type="number" class="form-control" placeholder="Вартість" id="Price" name="Price">
        </label>
        <label>
            Кількість
            <input type="number" class="form-control" placeholder="Кількість" id="Amount" name="Amount">
        </label>
        <label>
            Код постачальника
            <input type="number" class="form-control" placeholder="Код постачальника" id="idSupplier" name="idSupplier">
        </label>
        <label>
            Код складу
            <input type="number" class="form-control" placeholder="Код складу" id="idWarehouse" name="idWarehouse">
        </label>
        <button type="submit" class="btn btn-primary">Додати</button>
    </div>
</form>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-DyZv4x+0e5c6b8f1a2e3d7c9f3e4b8f1a2e3d7c9f3e4b8f1a2e3d7c9f3e4b8f1"
        crossorigin="anonymous"
></script>
</body>
</html>